body {
      background-color: white;
      color: black;
      transition: background-color 0.1s, color 0.1s;
}

body.dark-mode {
      background-color: #121212;
      color: white;
}

button {
      margin: 20px;
      padding: 10px 20px;
}